body{
    font-family: 'Nanum Myeongjo', serif;
    margin: 30vh 0px 0px 100px;
}

span{
    display: block;
    font-size: 4em;
    font-family: 'Roboto', sans-serif;
}

button{
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 1em;
    font-family: 'Nanum Myeongjo', serif;
    font-size: .9em;
    display: block;
    width: 250px;
    margin: 10px 0px 10px 0px;
}

button:hover{
    background-color: black;
    color: white;
}

#textInformation{
    margin: 0px 0px 50px 0px;
}